<%- include("./includes/head.ejs", { data2: showData }); %>
  
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/poll.css">

<body class="bg-light" style="padding: 0; margin: 0;">
<!--   <style>
    body {
      background: #f8f9fa;
      padding: 0;
      margin: 0;
    }
  </style> -->
  
	<header>
		<%- include("./includes/header.ejs"); %>
	</header>

	<div class="loading-spinner" id="loadingSpinner">
	  <img src="/cube.webp" alt="Your Logo" class="logoSp">
	  <div class="spinner"></div>
  </div>

  <section>
		<div class="container bg-light div1 border-0">
			<div class="row">
				<div class="col-12 col-sm-12 nav1 border-0">
					<% catData.forEach((i, index) => { %>
						<a href="/filter/<%= i.id %>?name=<%= i.name %>" class="nav1_btns" style="border: 1px solid black; border-radius: 50px;"><%= i.name %></a>
          <% }) %>
				</div>
				<hr />
			</div>
		</div>
	</section>

	<section>
		<div class="container bg-light div14">
		    <div class="row">
		    	<div class="col-12 col-sm-12 text-center mb-3">
		    		<h4>Poll</h4>
		    	</div>

		    	<div class="col-12 col-lg-3"></div>

		    	<div class="col-12 col-lg-6 text-center mb-3">
		    		<% if(data != '') { %>
		    			<div class="card text-bg-light h-100 mb-3 pollCard">
								<% if(data.landscape_img != '') { %>
						      	<img src="https://api.hiphopboombox.com/api/uploads/<%= data.landscape_img %>" class="img-fluid rounded-start" alt="poll" width="100%" height="200" loading="lazy">
						    <% } else { %>
						    	<img src="https://api.hiphopboombox.com/api/uploads/<%= data.portrait_image %>" class="img-fluid rounded-start" alt="poll" width="100%" height="200" loading="lazy">
						    <% } %>
						  	<div class="card-body p-0">
						    	<h5 class="pollTitle">
						    		<%= lang.smws.lang == 'en' ? data.question : data.ques_translate %>
						    	</h5>
						    	<p class="card-text">
						    		<div class="p-2">
							    		<% votes.forEach(i => { %>
							    			<div class="me-2 fs-4"><%= i.option_text %><span class="ms-2">Votes: <%= i.votes %></span></div>
							    		<% }) %>
							    	</div>

						    		<div class="mt-2">
						    			<h5 class="text-success">Ans. <%= votes[data.answer-1].option_text %></h5>
						    		</div>
						    	</p>
						  	</div>
                <div class="card-footer mt-3 d-flex justify-content-evenly align-items-center bg-transparent  border-success">
						        <button onclick="shareOnSocialMedia('threads')" class="btn border-0">
						        	<i class="fa-brands fa-threads fa-2xl" style="color: black;"></i>
						        </button>
						        <button onclick="shareOnSocialMedia('twitter')" class="btn border-0">
						        	<i class="fa-brands fa-twitter fa-2xl" style="color: black;"></i>
						        </button>
						        <button onclick="shareOnSocialMedia('facebook')" class="btn border-0">
						        	<i class="fa-brands fa-facebook fa-2xl" style="color: black;"></i>
						        </button>
                </div>
						</div>
					<% } %>
				</div>

				<div class="col-12 col-lg-3"></div>
		    </div>
		</div>
	</section>

	<section>
	  <%- include("./includes/lang_select.ejs"); %>
 	</section>

	<footer>
		<%- include("./includes/footer.ejs"); %>
	</footer>
            
  <script>
		const data3 = <%- JSON.stringify(data) %>;
	</script>

	<script type="text/javascript">
	    const loadingSpinner = document.getElementById('loadingSpinner');
        // console.log(loadingSpinner);
    
	      setTimeout(function() {
            if (loadingSpinner) {
              loadingSpinner.style.display = 'none';
            }
        }, 3000);
    
        const data = data3;
    
        // console.log(data);
    
        function shareOnSocialMedia(platform) {
          const question = "<%= lang.smws.lang == 'en' ? data.question : data.ques_translate %>";
          const answer = "<%= votes[data.answer-1].option_text %>";
          const url = encodeURIComponent(window.location.href); // Current page URL
          const text = encodeURIComponent(`${question} - ${answer}`);
          
          // console.log(url, text);

          switch(platform) {
              case 'threads':
                  window.open(`https://threads.net/intent/post?text=${text}`, '_blank');
                  break;
              case 'twitter':
                  window.open(`https://twitter.com/intent/tweet?text=${text}`, '_blank');
                  break;
              case 'facebook':
                  const facebookShareURL = `https://www.facebook.com/sharer/sharer.php?u=${url}`;
                  // console.log(facebookShareURL);
                  window.open(facebookShareURL, '_blank', 'width=600,height=400');
                  break;
              default:
                  alert('Unsupported platform');
          }
      }
 </script>
</body>

<%- include("./includes/end.ejs"); %>